community-progress-bar {
.progress-outer {
         background-color: #f4f4f4;
        // border: 1px solid #dcdcdc;
        color: #fff;
        margin-top: 5px;
        
        // border-radius: 20px;
    }
 
    .progress-inner {
        min-width: 0%;
        white-space: nowrap;
        overflow: hidden;
        padding: 2px;
        border-radius: 20px;
        background-color: map-get($colors, color_1);
    }
    .progress-inner12{
        min-width: 0%;
        white-space: nowrap;
        overflow: hidden;
        padding: 2px;
        border-radius: 20px;
        background-color: map-get($colors, color_2);
    }
    .progress-inner13{
        min-width: 0%;
        white-space: nowrap;
        overflow: hidden;
        padding: 2px;
        border-radius: 20px;
        background-color: map-get($colors, color_3);
    }
    .progress-inner14{
        min-width: 0%;
        white-space: nowrap;
        overflow: hidden;
        padding: 2px;
        border-radius: 20px;
        background-color: map-get($colors, color_4);
    }
    .progress-inner15{
        min-width: 0%;
        white-space: nowrap;
        overflow: hidden;
        padding: 2px;
        border-radius: 20px;
        background-color: map-get($colors, color_5);
    }
    .progress-inner16{
        min-width: 0%;
        white-space: nowrap;
        overflow: hidden;
        padding: 2px;
        border-radius: 20px;
        background-color: map-get($colors, color_6);
    }
    .progress-inner17{
        min-width: 0%;
        white-space: nowrap;
        overflow: hidden;
        padding: 2px;
        border-radius: 20px;
        background-color: map-get($colors, color_7);
    }
    .progress-inner18{
        min-width: 0%;
        white-space: nowrap;
        overflow: hidden;
        padding: 2px;
        border-radius: 20px;
        background-color: map-get($colors, color_8);
    }
    .progress-inner19{
        min-width: 0%;
        white-space: nowrap;
        overflow: hidden;
        padding: 2px;
        border-radius: 20px;
        background-color: map-get($colors, color_9);
    }
    .progress-inner20{
        min-width: 0%;
        white-space: nowrap;
        overflow: hidden;
        padding: 2px;
        border-radius: 20px;
        background-color: map-get($colors, color_10);
    }
}




// .progress-outer {
//         width: 96%;
//         margin: 10px 2%;
//         padding: 3px;
//         text-align: center;
//         background-color: #f4f4f4;
//         border: 1px solid #dcdcdc;
//         color: #fff;
//         border-radius: 20px;
//     }
 
//     .progress-inner {
//         min-width: 15%;
//         white-space: nowrap;
//         overflow: hidden;
//         padding: 5px;
//         border-radius: 20px;
//         background-color: map-get($colors, primary);
//     }
