page-edit-form {
    .content-md {
        color: #000;
        background-color: #f0f0f0;
    }  
    .content_border{
        border: 7px solid #ddd;
    }   
}
.alert-message {
        overflow-y: hidden;
    } 
