<!--
  Generated template for the EditFormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Saved Forms</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
<div  [ngClass]="{'web_margin' : is_web}">
    <ion-item-group [ngClass]="{'content_border' : is_web}">
        <ion-item-divider color="light" class="ess_item_heading">Facility Checklist</ion-item-divider>
        <ion-item *ngFor="let d of savedForms.facility">
            <ion-row text-wrap>
                <ion-col col-10 (click)=facilitySelected(d)>
                    <ion-row class="ess-pointer">
                        {{ d.facility }}, {{ d.district }}
                    </ion-row>
                    <ion-row class="rowmar">
                        {{d.data.c7}}
                    </ion-row>
                </ion-col>
                <ion-col text-right>
                    <ion-icon name="md-trash" (click)=delete(d.id) class="ess-pointer"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-item>
        <h5 *ngIf="savedForms.facility.length === 0" class="a_center">No data found</h5>
        <ion-item-divider color="light" class="ess_item_heading">Community Checklist</ion-item-divider>
        <ion-item *ngFor="let d of savedForms.community">
            <ion-row text-wrap>
                <ion-col col-10 (click)=communitySelected(d)>
                    <ion-row class="ess-pointer">
                        {{d.data.q4}}, {{ d.facility }}, {{d.block}}
                    </ion-row>
                    <ion-row class="rowmar">
                        {{d.data.date}}
                    </ion-row>
                </ion-col>
                <ion-col text-right>
                    <ion-icon name="md-trash" (click)=delete(d.id) class="ess-pointer"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-item>
        <h5 *ngIf="savedForms.community.length === 0" class="a_center">No data found</h5>
    </ion-item-group>
</div>
</ion-content>